
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

h1,p{
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

.error-message{
  color: red;
  text-align: center;
  margin: 3px 0;
}


